{% extends "base.html.twig" %}

{% block title %} Interface Administrateur {% endblock %}

{% block body %}
    {{ parent() }}
<div class="container">
    <h1><span class="badge badge-secondary">Interface Administrateur</span></h1>
    <form action="/update/id" method="POST" >
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NOM</th>
                <th scope="col">PRENOM</th>
                <th scope="col">ADRESSE EMAIL</th>
                <th scope="col">QUESTION</th>
                <th scope="col">TRAITER</th>
            </tr>
            </thead>
            <tbody>
            {% set i = 1 %}
            {% if tabContacts is defined %}
                {% for contact in tabContacts %}
                    <tr>
                        <th scope="row">{{ contact.id }}</th>
                        <td>{{ contact.name }}</td>
                        <td>{{ contact.firstname }}</td>
                        <td>{{ contact.email }}</td>
                        <td>{{ contact.question }}</td>
                        <td>
                            <input class="fa check" type="checkbox" id="{{ contact.id }}"
                                   {% if contact.isCheck %} checked="checked" {% endif %}>
                        </td>
                    </tr>
                    {% set i = i+1 %}
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </form>
</div>
</form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $("input.fa").click(function () {
            const checked = $(this).is(':checked') ? 1 : 0;
            const id = $(this).attr("id");
            $.ajax({
                type: 'POST',
                url:     `https://localhost:8000/update/${id}`,
                data:    JSON.stringify({'etat': checked}),
                contentType: 'application/json',
                success: function () {
                    alert('votre modification a bien été prise en compte');
                }
            })
        });
    </script>
{% endblock %}
